.custom_button_box{
    background-color: #DAB;
    display:inline-flex ;
    border-radius: 5px;
    padding: 10px;
    font-weight: bolder;
    color: #FFF;
    cursor: pointer;
    box-shadow: 1px 1px 5px #DAB;
}

.cus
.custom_button_box_inner::selection{
    background: none;
    color: ;
}